<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>artillery_thrower_lvl2_animations.plist</key>
		<string></string>
		<key>artillery_thrower_lvl3_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>artillery_thrower_idleDown</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>1</integer>
		</dict>
		<key>artillery_thrower_loadDown</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>2</integer>
			<key>toIndex</key>
			<integer>49</integer>
		</dict>
		<key>artillery_thrower_shootDown</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>50</integer>
			<key>toIndex</key>
			<integer>73</integer>
		</dict>
		<key>artillery_thrower_idleUp</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>74</integer>
			<key>toIndex</key>
			<integer>74</integer>
		</dict>
		<key>artillery_thrower_loadUp</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>75</integer>
			<key>toIndex</key>
			<integer>122</integer>
		</dict>
		<key>artillery_thrower_shootUp</key>
		<dict>
			<key>prefix</key>
			<string>artillery_thrower</string>
			<key>fromIndex</key>
			<integer>123</integer>
			<key>toIndex</key>
			<integer>145</integer>
		</dict>
	</dict>
</dict>
</plist>
