<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>gnoll_gnawer_walkingRightLeft</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>gnoll_gnawer_walkingDown</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>gnoll_gnawer_walkingUp</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>gnoll_gnawer_idle</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
		<key>gnoll_gnawer_attack</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>68</integer>
			<key>toIndex</key>
			<integer>89</integer>
		</dict>
		<key>gnoll_gnawer_death</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>90</integer>
			<key>toIndex</key>
			<integer>110</integer>
		</dict>
		<key>gnoll_gnawer_drop</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>111</integer>
			<key>toIndex</key>
			<integer>128</integer>
		</dict>
		<key>gnoll_gnawer_flySide</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>129</integer>
			<key>toIndex</key>
			<integer>142</integer>
		</dict>
		<key>gnoll_gnawer_flyDown</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>143</integer>
			<key>toIndex</key>
			<integer>156</integer>
		</dict>
		<key>gnoll_gnawer_flyUp</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>157</integer>
			<key>toIndex</key>
			<integer>170</integer>
		</dict>
		<key>gnoll_gnawer_fire_fx</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>171</integer>
			<key>toIndex</key>
			<integer>186</integer>
		</dict>
		<key>gnoll_gnawer_respawn</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_gnawer</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>67</integer>
		</dict>
	</dict>
</dict>
</plist>
