<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>gnoll_burner_proy_animations.plist</key>
		<dict/>
	</dict>
	<key>animations</key>
	<dict>
		<key>gnoll_burner_walkingRightLeft</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>22</integer>
		</dict>
		<key>gnoll_burner_walkingDown</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>23</integer>
			<key>toIndex</key>
			<integer>44</integer>
		</dict>
		<key>gnoll_burner_walkingUp</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>45</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>gnoll_burner_idle</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
		<key>gnoll_burner_shoot</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>79</integer>
			<key>toIndex</key>
			<integer>100</integer>
		</dict>
		<key>gnoll_burner_death</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>101</integer>
			<key>toIndex</key>
			<integer>126</integer>
		</dict>
		<key>gnoll_burner_attack</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>127</integer>
			<key>toIndex</key>
			<integer>148</integer>
		</dict>
		<key>gnoll_burner_respawn</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_burner</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>78</integer>
		</dict>
	</dict>
</dict>
</plist>
