<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict/>
	<key>animations</key>
	<dict>
		<key>gnoll_reaver_walkingRightLeft</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>21</integer>
		</dict>
		<key>gnoll_reaver_walkingDown</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>22</integer>
			<key>toIndex</key>
			<integer>43</integer>
		</dict>
		<key>gnoll_reaver_walkingUp</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>44</integer>
			<key>toIndex</key>
			<integer>65</integer>
		</dict>
		<key>gnoll_reaver_idle</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
		<key>gnoll_reaver_attack</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>67</integer>
			<key>toIndex</key>
			<integer>83</integer>
		</dict>
		<key>gnoll_reaver_death</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>84</integer>
			<key>toIndex</key>
			<integer>99</integer>
		</dict>
		<key>gnoll_reaver_respawn</key>
		<dict>
			<key>prefix</key>
			<string>gnoll_reaver</string>
			<key>fromIndex</key>
			<integer>66</integer>
			<key>toIndex</key>
			<integer>66</integer>
		</dict>
	</dict>
</dict>
</plist>
