<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includes</key>
	<dict>
		<key>mage_tower_shooter_animations.plist</key>
		<string></string>
		<key>mage_wild_shooter_animations.plist</key>
		<string></string>
		<key>mage_highElven_shooter_animations.plist</key>
		<string></string>
	</dict>
	<key>animations</key>
	<dict>
		<key>mage_towers_lvl1_shoot</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>31</integer>
		</dict>
		<key>mage_towers_lvl1_idle</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>32</integer>
			<key>toIndex</key>
			<integer>32</integer>
		</dict>
		<key>mage_towers_lvl2_shoot</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>33</integer>
			<key>toIndex</key>
			<integer>63</integer>
		</dict>
		<key>mage_towers_lvl2_idle</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>64</integer>
			<key>toIndex</key>
			<integer>64</integer>
		</dict>
		<key>mage_towers_lvl3_shoot</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>65</integer>
			<key>toIndex</key>
			<integer>95</integer>
		</dict>
		<key>mage_towers_lvl3_idle</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>96</integer>
			<key>toIndex</key>
			<integer>96</integer>
		</dict>
		<key>mage_towers_wild</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>97</integer>
			<key>toIndex</key>
			<integer>97</integer>
		</dict>
		<key>mage_towers_highElven</key>
		<dict>
			<key>prefix</key>
			<string>mage_towers_layer2</string>
			<key>fromIndex</key>
			<integer>98</integer>
			<key>toIndex</key>
			<integer>98</integer>
		</dict>
		<key>mage_tower_teleportOut_lightBlue</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_lightBlue_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>mage_tower_teleportIn_lightBlue</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_lightBlue_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>mage_tower_teleportOut_orange</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_orange_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>mage_tower_teleportIn_orange</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_orange_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>mage_tower_teleportOut_violet</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_violet_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
		<key>mage_tower_teleportIn_violet</key>
		<dict>
			<key>prefix</key>
			<string>mage_teleport_violet_big</string>
			<key>fromIndex</key>
			<integer>1</integer>
			<key>toIndex</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
