<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1024.0,512.0}</string>
        <key>name</key>
        <string>mainmenu_spritesheet_32_localized_de-hd</string>
        <key>textureFileName</key>
        <string>mainmenu_spritesheet_32_localized_de-hd.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>menu_creditschain_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{238.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,16.0}</string>
            <key>spriteSourceSize</key>
            <string>{312.0,180.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{37.0,0.0},{238.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{568.0,0.0},{238.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>menu_creditschain_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{238.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,16.0}</string>
            <key>spriteSourceSize</key>
            <string>{312.0,180.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{37.0,0.0},{238.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{568.0,150.0},{238.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>menu_startchain_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{282.0,284.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{328.0,284.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{24.0,0.0},{282.0,284.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,0.0},{282.0,284.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>menu_startchain_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{282.0,284.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{328.0,284.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{24.0,0.0},{282.0,284.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{284.0,0.0},{282.0,284.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
