<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{2048.0,1024.0}</string>
        <key>name</key>
        <string>mainmenu_spritesheet_32_2-hd</string>
        <key>textureFileName</key>
        <string>mainmenu_spritesheet_32_2-hd.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>generic_btn_done_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{145.0,86.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,1.0},{145.0,86.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{455.0,642.0},{145.0,86.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>generic_btn_done_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{151.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,88.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{151.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{514.0,933.0},{151.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>logo.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{431.0,388.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-7.0}</string>
            <key>spriteSourceSize</key>
            <string>{480.0,480.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{23.0,53.0},{431.0,388.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1138.0,598.0},{431.0,388.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_bg.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{1136.0,640.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{1136.0,640.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{1136.0,640.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,0.0},{1136.0,640.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,104.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,46.0},{105.0,104.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{144.0,642.0},{105.0,104.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,47.0},{105.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{235.0,748.0},{105.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,102.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,48.0},{105.0,102.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{251.0,642.0},{105.0,102.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{126.0,108.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{67.0,42.0},{126.0,108.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,772.0},{126.0,108.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,107.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,43.0},{105.0,107.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{107.0,882.0},{105.0,107.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,47.0},{105.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{214.0,858.0},{105.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,105.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,45.0},{105.0,105.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{128.0,751.0},{105.0,105.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,107.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,43.0},{105.0,107.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{37.0,642.0},{105.0,107.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_0009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,107.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{78.0,43.0},{105.0,107.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,882.0},{105.0,107.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mainmenu_language_flags_select.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{120.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-15.0}</string>
            <key>spriteSourceSize</key>
            <string>{260.0,196.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{70.0,69.0},{120.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{440.0,735.0},{120.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_alert_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{97.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,3.0},{97.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{321.0,853.0},{97.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>news_alert_0015.png</string>
            </array>
        </dict>
        <key>news_alert_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,93.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,4.0},{96.0,93.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{342.0,746.0},{96.0,93.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_alert_0003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{95.0,91.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,5.0},{95.0,91.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{358.0,642.0},{95.0,91.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_alert_0004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{93.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,5.0},{93.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{420.0,841.0},{93.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_alert_0005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{91.0,89.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{104.0,100.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,6.0},{91.0,89.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{421.0,933.0},{91.0,89.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_chain.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{35.0,128.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{40.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{35.0,128.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,642.0},{35.0,128.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_closeBtn_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{46.0,44.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{60.0,60.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,9.0},{46.0,44.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1083.0,642.0},{46.0,44.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_closeBtn_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{58.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{60.0,60.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,3.0},{58.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{935.0,954.0},{58.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{895.0,596.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{900.0,596.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{895.0,596.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1138.0,0.0},{895.0,596.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,83.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,5.5}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,13.0},{76.0,83.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{562.0,730.0},{76.0,83.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{77.0,80.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,4.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,16.0},{77.0,80.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{680.0,642.0},{77.0,80.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,21.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{989.0,794.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{74.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-3.0,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{74.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{912.0,876.0},{74.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{79.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{79.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{831.0,880.0},{79.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0007.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{1.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{83.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{759.0,642.0},{83.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0008.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{1.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{83.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{746.0,889.0},{83.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0009.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{81.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{81.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{844.0,642.0},{81.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0010.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{76.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{886.0,720.0},{76.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0011.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{77.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{19.0,21.0},{77.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1004.0,718.0},{77.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0012.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,78.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{76.0,78.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{670.0,809.0},{76.0,78.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0013.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,83.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,20.0},{76.0,83.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{515.0,825.0},{76.0,83.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0014.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,82.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,21.0},{76.0,82.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{602.0,642.0},{76.0,82.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0015.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{76.0,81.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,20.0},{76.0,81.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{640.0,726.0},{76.0,81.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0016.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,20.0},{75.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{912.0,798.0},{75.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0017.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{74.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{22.0,20.0},{74.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{988.0,876.0},{74.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0018.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{78.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-3.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,20.0},{78.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{832.0,798.0},{78.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0019.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{82.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{14.0,20.0},{82.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{748.0,802.0},{82.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0020.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-5.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{13.0,20.0},{83.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{718.0,724.0},{83.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0021.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{81.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-4.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{15.0,20.0},{81.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{803.0,720.0},{81.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0022.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,20.0},{75.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{927.0,642.0},{75.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0023.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{77.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,22.0},{77.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1004.0,642.0},{77.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0024.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{77.0,78.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,3.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{20.0,18.0},{77.0,78.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{667.0,899.0},{77.0,78.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>news_frame_loading_0025.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,82.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,5.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,120.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{21.0,14.0},{75.0,82.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{593.0,815.0},{75.0,82.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>news_frame_loading_0001.png</string>
            </array>
        </dict>
        <key>options_overlay_buttons_0001.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{58.0,55.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,8.0},{58.0,55.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{810.0,967.0},{58.0,55.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>options_overlay_buttons_0002.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{63.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{1.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{10.0,8.0},{63.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{870.0,958.0},{63.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>options_overlay_buttons_0003.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{62.0,55.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,8.0},{62.0,55.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{746.0,967.0},{62.0,55.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>options_overlay_buttons_0004.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{63.0,58.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,8.0},{63.0,58.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{214.0,963.0},{63.0,58.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>options_overlay_buttons_0005.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{64.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,7.0},{64.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{279.0,963.0},{64.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>options_overlay_buttons_0006.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{74.0,70.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{80.0,72.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{74.0,70.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{345.0,949.0},{74.0,70.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
